[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/DigitalExpertis/ComfyUI-Manager.git
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/DigitalExpertis/rgthree-comfy.git
[submodule "custom_nodes/ComfyUI-Crystools"]
	path = custom_nodes/ComfyUI-Crystools
	url = https://github.com/DigitalExpertis/ComfyUI-Crystools.git
[submodule "custom_nodes/comfyui-workspace-manager"]
	path = custom_nodes/comfyui-workspace-manager
	url = https://github.com/DigitalExpertis/comfyui-workspace-manager.git
[submodule "custom_nodes/ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/DigitalExpertis/ComfyUI_IPAdapter_plus.git
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/DigitalExpertis/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/DigitalExpertis/ComfyUI_UltimateSDUpscale.git
[submodule "custom_nodes/ComfyUI-Florence2"]
	path = custom_nodes/ComfyUI-Florence2
	url = https://github.com/DigitalExpertis/ComfyUI-Florence2.git
[submodule "custom_nodes/ComfyUI-Styles_CSV_Loader"]
	path = custom_nodes/ComfyUI-Styles_CSV_Loader
	url = https://github.com/DigitalExpertis/ComfyUI-Styles_CSV_Loader.git
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/DigitalExpertis/ComfyUI-KJNodes.git
